//- tariffs.pug : Тарифы
//- { "id": 1, "nid": 10, "custid": 1, "tar": 1.34 }

extends _layout

block header
    em `tariffs.pug`
    hr

block content
    h1= title

    ul
        for tar in tariffs
            li
                a(href=`/tariffs/${tar.id}`) 
                    span=  `Тариф: ${tar.id}`