//- nabigation.pug: Навигация
aside
    nav
        a(href='/') На главную&nbsp;|&nbsp;
        a(href='/numbers') Номера&nbsp;|&nbsp;
        a(href='/customers') Клиенты&nbsp;|&nbsp;
        a(href='/directions') Направления&nbsp;|&nbsp;
        a(href='/tariffs') Тарифы
        
        
